body {
  background: linear-gradient(
    59deg,
    rgba(142, 120, 255, 1) 0%,
    rgba(252, 125, 123, 1) 100%
  );
}

h3 {
  color: #fff;
  font-size: 6.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
