/* body {
  background: linear-gradient(
    59deg,
    rgba(142, 120, 255, 1) 0%,
    rgba(252, 125, 123, 1) 100%
  );
} */

body {
  background: rgb(255,254,134);
  background: linear-gradient(255deg, rgba(255,254,134,1) 0%, rgba(255,179,217,1) 100%);
}

h1 {
  color: #fff;
  font-size: 6.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
